<% content_for :bcrumb do %>
        <li><%= link_to "#{@game.status.name.humanize} games", game_list_path(qstatus: 'in_progress')  %></li>
        <li><%= link_to "Game #{@game.id}", game_path(@game.id) %></li>
        <li class="active"><%= "Bid for #{@hand_player.player.name}" %></li>
<% end %>
<h2><%= @game.trump_type.name %> game, round <%= @game.next_round %> of <%= @game.hands.size %></h2>

<%= form_for(:hand_player,:url=>{ action: "createbid" }, html: { method: 'post', class: 'form-horizontal'})  do |f| %>
	<%= f.hidden_field :id %>
	<div class="form-group form-group-lg">
		<label for="hand_player_bid" class="col-sm-2 control-label"><%= @hand_player.player.name %>'s bid</label>
		<div class="col-sm-2">
			<%= f.number_field :bid, {class:'small-number', min:0 ,max:@hand.no_of_cards, autofocus: true }  %>
		</div>
		<div class="col-sm-2">
			<%= f.submit :class=>'btn btn-success', style: 'display: inline-block; vertical-align: middle;', :value=>'Enter bid' %>
		</div>
	</div>
<% end %>
