<h2>Step 2 - Add players</h2>
<h3>There <%= 'is'.pluralize(@game.player_list.size) %> currently <%= pluralize(@game.player_list.size, 'player') %></h3>
<ul>
<% @game.player_list.each do |p| %>
    <li><%= p.name %></li>
<% end %>
</ul>
<!--h2>It has <%= @game.hands.size %> hands</h2-->
<% if @hp.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@hp.errors.count, "error") %> prohibited this player from being added:</h2>
        </div>
        <div class="panel-body">
            <ul>
                 <% #halt %>
                <% @hp.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
      </div>
    </div>
<% end %>
<%= form_for @hp, :url => { :action => 'create', :id => @game.id } do |f| %>
    <div>
    <%= f.label :name %>
<!--     <%= f.collection_select(:player_id, @players, :id, :name, {}, { :class=>'player_name_select2', :multiple=>'true' }) %>
 -->  
        <input type='hidden' class="player_name_select2" id='hand_player_player_id' style='width:300px' 
        data-source="<%= players_find_path %>" />  

    </div>
    <div class="actions">
      <%= f.hidden_field :game_id, value: @game.id %>
    <%= link_to raw('Start game <span class="fa fa-fw fa-arrow-circle-right"></span>'), games_path, {class: 'btn btn-success', style: 'color:#ffffff;'} %>    </div>
<% end %>
