<% content_for :bcrumb do %>
        <li><a href="<%= game_path(@hand.game) %>">Game <%= @hand.game.id %></a></li>
        <li class="active">Round <%= @hand.sequence %></li>
<% end %>
<h2>Round <%= @hand.sequence %> - <span class="suits <%= @hand.suit.name %>" alt="Trumps = <%= @hand.suit.name %>"><%= raw(@hand.suit.text) unless @hand.suit.id==5 %></h2>
<div><%= @hand.dealer.name %> should deal <%= @hand.no_of_cards %> cards, 
<% if @hand.suit.id < 5 %>
trumps are <%= @hand.suit.name.downcase %>.</span>
<% else %>
winner of last hand should pick trumps.
<% end %>
</div>

<% @hand.hand_players.each do |p| %>
<div><%= p.player.name %> <% if p.player.id==@hand.dealer.id %><span class="fa fa-exclamation-triangle"></i><% end %></div>
<% end %>