<h1>Set up game</h1>



<%= form_for (@game) do |f| %>
    <h2>Options</h2>
    <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "issue") %> prevented this game from starting:</h2>

          <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h3>Scoring type</h3>
    <div class="form-group">
      <div class="radio">
        <label>
          <%= f.radio_button :trump_type_id, 1 %>
          Random - trumps are allocated at start of game, cannot be same suit two hands running
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :trump_type_id, 2 %>
          Winner - first round is random, subsequent rounds, winner picks trumps after seeing hand
        </label>
      </div>
    </div>
    <div class="actions">
      <%= f.hidden_field :status_id %>
      <%= f.submit :class=>'btn btn-success', :value=>'Start game' %>
    </div>
<% end %>