<h2>Step 1 - Configure game</h2>
<%= form_for (@game) do |f| %>
    <% if @game.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title"><%= pluralize(@game.errors.count, "issue") %> prevented you from proceeding:</h2>
            </div>
            <div class="panel-body">
                <ul>
                <% @game.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="form-group">
      <div class="radio">
        <label>
          <%= f.radio_button :trump_type_id, 1 %>
          Random - trumps are allocated at start of game, randomly sequenced and repeating e.g. S -> H -> C -> D
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :trump_type_id, 2 %>
          Winner - first round is random, subsequent rounds, winner picks trumps after seeing hand
        </label>
      </div>
    </div>
    <div class="actions">
      <%= f.hidden_field :status_id %>
      <%= f.submit :class=>'btn btn-success', :value=>'Pick players' %>
    </div>
<% end %>