<h2><%= @game.trump_type.name %> trump game started <%= @game.created_at.strftime('%e %b %y') %></h2>

<h3>It has <%= @game.hands.size %> hands</h3>
<table class="table">
    <thead>
        <tr>
            <th>Round</th>
        <% @game.player_list.each do |play| %>
            <th><%= play.name %></th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @game.hands.each do |h| %>
        <tr>
            <td class="suits center-align">
                <button class="btn btn-xs btn-success">Start round</button>
                <%= h.no_of_cards %>
                <span class="suits <%= h.suit.name %>" alt="Trumps = <%= h.suit.name %>"><%= raw(h.suit.text) %></span>
            </td>

          <% @game.player_list.each do  %>
            <td>&nbsp;</td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
</table>