<% content_for :bcrumb do %>
        <li><%= link_to "#{@game.status.name.humanize} games", game_list_path(qstatus: 'in_progress')  %></li>
        <li class="active">Game <%= @game.id %></li>
<% end %>
<h2><%= @game.trump_type.name %> game, round <%= @game.next_round %> of <%= @game.hands.size %></h2>

<table class="table">
    <thead>
        <tr>
            <th>Round/dealer</th>
        <% @game.player_list.each do |play| %>
            <th><span title="<%= play.name %>"><%= play.name.to(0) %><span class="end-of-name"><%= play.name.from(1) %></span></th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @game.hands.order(:id).each do |h| %>
        <tr>
            <td class="center-align">
                <%= h.no_of_cards %>
                <span class="suits <%= h.suit.name %>" alt="Trumps = <%= h.suit.name %>"><%= raw(h.suit.text) %></span>
            <% if @game.next_round==h.sequence %>
                <%= link_to 'Start round', {controller: 'hands', action: 'show', g_id:@game.id, seq: h.sequence}, :class=>'btn btn-xs btn-success' %>
            <% else %>
                <%= h.dealer.name %>
            <% end %>
            </td>
        <% @game.player_list.each do |p| %>
            <% @this_player = h.hand_players.where("player_id=:p_id and hand_id=:h_id", p_id: p.id, h_id: h.sequence).first %>
            <td class="scores<%= ' dealer' if p.id==h.dealer_id %>">
                <% if !@this_player.score.nil? %>
                    <%= @this_player.score %>
                <% elsif !@this_player.bid.nil? %>
                    <%= @this_player.bid %>
                <% elsif @game.next_round==h.sequence && p.id == h.next_player.id %>
                    <%= link_to "", record_bid_path(h.next_hand_player.id), class:"fa fa-plus-square-o fa-3x add-bid" %>
                <% end %>
            </td>
      <% end %>
        </tr>
    <% end %>
    </tbody>
</table>