<h2><%= @game.trump_type.name %> trump game started <%= @game.created_at.strftime('%e %b %y') %></h2>

<h3>It has <%= @game.hands.size %> hands</h3>
<table class="table">
    <thead>
        <tr>
            <th>Round</th>
            <th>Cards</th>
            <th width="76px">Trump</th>
        <% @game.player_list.each do |play| %>
            <th><%= play.name %></th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @game.hands.each do |h| %>
        <tr>
            <td class="center-align"><button class="btn btn-xs btn-success">Start round</button></td>
            <td class="center-align"><%= h.no_of_cards %> </td>
            <td class="suits <%= h.suit.name %> center-align">
                <span alt="<%= h.suit.name %>"><%= raw(h.suit.text) %></span>
            </td>
          <% @game.player_list.each do  %>
            <td>&nbsp;</td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
</table>