<% content_for :bcrumb do %>
        <li class="active">Game <%= @game.id %></li>
<% end %>
<h2><%= @game.trump_type.name %> game, round <%= @game.next_round %> of <%= @game.hands.size %></h2>

<table class="table">
    <thead>
        <tr>
            <th>Round/dealer</th>
        <% @game.player_list.each do |play| %>
            <th><span title="<%= play.name %>"><%= play.name.to(0) %><span class="end-of-name"><%= play.name.from(1) %></span></th>
        <% end %>
        </tr>
    </thead>
    <tbody>
    <% @game.hands.each do |h| %>
        <tr>
            <td class="center-align">
                <%= h.no_of_cards %>
                <span class="suits <%= h.suit.name %>" alt="Trumps = <%= h.suit.name %>"><%= raw(h.suit.text) %></span>
            <% if @game.next_round==h.sequence %>
                <%= link_to 'Start round', {controller: 'hands', action: 'show', g_id:@game.id, seq: h.sequence}, :class=>'btn btn-xs btn-success' %>
            <% else %>
                <%= h.dealer.name %>
            <% end %>
            </td>
          <% @game.player_list.each do |p| %>
            <% if p.id==h.dealer_id %>
            <td style="border:blue 1px solid">&nbsp;</td>
            <% else %>
            <td>&nbsp;</td>
            <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
</table>