<!DOCTYPE html>
<html>
<head>
  <title>Whist</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="container">
    <header id="header" class="row">
        <div class="col-xs-2 col-md-2 col-md-offset-1">
          <h1><%= link_to 'Whist', root_path, class: 'home-button' %></h1>
        </div>
        <div class="col-xs-10 col-md-8">
          <div class="header-normal">
            <%= current_user.name + " (" if user_signed_in? %>
            <%= link_to("Sign out", destroy_user_session_path, :method => :delete) + " )" if user_signed_in? %>
          </div>
        </div>
    </header>
    <div id="breadcrumb" class="row">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>">Home</a></li>
        <%= yield :bcrumb %>
      </ol>
    </div>
    <div id="flash" class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <% flash.each do |type, message| %>
          <div class="alert <%= flash_class_for(type) %> fade in">
            <%= message %>&nbsp;<button class="close" data-dismiss="alert">×</button>
          </div>
        <% end %>
        <% flash.clear %>
      </div>
    </div>
    <div id="content" class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>
    <footer id="footer" class="">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div>&copy; Colin Bruce 2014</div>
      </div>
    </footer>
</div>
</body>
</html>
