<!DOCTYPE html>
<html>
<head>
  <title>Whist</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="container">
    <header id="header" class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h1><%= link_to 'Whist', root_path, class: 'home-button' %></h1>
        </div>
    </header>
    <div id="content" class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <%= yield %>
      </div>
    </div>
    <footer id="footer" class="">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div>&copy; Colin Bruce 2014</div>
      </div>
    </footer>
</div>
</body>
</html>
